<!DOCTYPE html>
<html>
    <body>
        <h1>{{att.employee.emp_name}}</h1>
        <form action="{% url 'edit_attendence' att.employee.id att.id %}" method="POST">
            {% csrf_token %}
            <label for="subject">DATE</label>
            <input type="date" format='YYYY,MM,DD' id="date" name="date" value="{{att.date}}">
            <label for="present">ATTENDENCE</label>
            <input type="text" id="present" name="present" value="{{att.present}}">
            <input type="submit" name="edit" value="EDIT">
            <input type="submit" name="delete" value="DELETE">
            <p><a href='{% url 'employee_detail' att.employee.id %}'>BACK</a></p>
        </form>
       
    </body>
</html>