<!DOCTYPE html>
<html>
    <body>
        <h3>LOGIN</h3>
        <p>{{error}}</p>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username</label><br/>
            <input type="text" id="username" name="username"><br/>
            <label for="password">Password</label><br/>
            <input type="password" id="password" name="password"><br/>
            <input type="submit" value="LOGIN">
        </form>
    </body>
</html>
