
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Bus num:{{ bus.bus_number }}</h5>
      <p class="card-text">Source: {{ bus.source }}</p>
      <p class="card-text">Destination: {{ bus.dest }}</p>
      <p class="card-text">Total Seats: {{ bus.nos }}</p>
      <p class="card-text">Remaining  Seats: {{ bus.rem }}</p>
      <p class="card-text">Price: {{ bus.price }}</p>
      <p class="card-text">Date: {{ bus.date }}</p>
      <p class="card-text">Time: {{ bus.time }}</p>
      {% if user.is_authenticated %}
          <form action="{% url 'bookings' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="bus_id" value="{{ bus.id }}">
              <label for="no_seats">Number of Seats:</label>
              <input type="number" name="no_seats" min="1" max="{{ bus.rem }}" required>
              <button type="submit" class="btn btn-success">Book</button>
          </form>
      {% endif %}
    </div>
  </div>
  