{% extends 'project1/base.html' %}
{% load static %}
{% block content %}
<style>
    .image-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .image-container img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>

<div class="image-container">
    <img src="{% static 'images/bus4.jpeg' %}" alt="Image Description">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto" style="margin-top: 70px">
            <h2 style="color:white;">Find bus</h2>
            <form action="{% url 'findbus' %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="color:white;">From</label>
                    <div class="col-10">
                        <input name='source' class="form-control" type="text" id="example-email-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="color:white;">Destination</label>
                    <div class="col-10">
                        <input name='destination' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="color:white">Date</label>
                    <div class="col-10">
                        <input name='date' class="form-control" type="date">
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success float-right">Find bus</button>
                </div>
                {{error}}
            </form>
        </div>
    </div>
</div>
{% endblock %}
