{% extends 'project1/base.html' %}
{% load static %}

{% block content %}
<center><h1>Welcome to Lion City</h1></center>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <body style="width:100%; height:10%;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'images/bus1.jpg' %}" alt="image not found">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/bus2.jpeg' %}" alt="image not found">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/bus3.jpg' %}" alt="image not found">
            </div>
        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </body>
    </div>


    
{% endblock %}