{% extends 'project1/base.html' %}
{% block content %}
<h3>{{ msg }}</h3>
<h2>List of buses</h2>
<div class="row">
  {% for bus in bus_list %}
    <div class="col-md-4">
      {% include 'project1/bus_layout.html' with bus=bus %}
    </div>
  {% endfor %}
</div>
{% endblock %}
