{% extends 'project1/base.html' %}
{% load static %}
{% block content %}
<style>
    .image-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        margin-top: 60px;
    }
    
    .image-container img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .button{
        margin-top:5px;
        margin-left:1000px;
        padding:10px;
    }
    .container h2{
        margin-left:400px;
    }
</style>

<div class="image-container">
    <img src="{% static 'images/bus5.jpeg' %}" alt="Image Description">
</div>

<div class="container">
    <h2 style="margin-top: 70px;">Welcome to TalentSprint Transit Bus Reservation</h2>
    <div class="button">
        <button type="submit"><a href="{% url 'signin' %}">Click here</a></button>
    </div>
    </div>
{% endblock %}
