{% extends 'project1/base.html' %}
{% load static %}
{% block content %}
<style>
    .image-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        margin-top: 60px;
    }
    
    .image-container img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>

<div class="image-container">
    <img src="{% static 'images/bus5.jpeg' %}" alt="Image Description">
</div>

<div class="container">
    <center><h2 style="margin-top: 70px;">Welcome to TalentSprint Transit Bus Reservation</h2></center>
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <h2>Log in</h2>

                <form action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Username:</label>
                        <div class="col-10">
                            <input name="name" class="form-control" type="text" id="example-email-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Password:</label>
                        <div class="col-10">
                            <input name="password" class="form-control" type="password">
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success float-right">Sign in</button>
                    </div>
                </form>
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
{% endblock %}
