{% extends 'project1/base.html' %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <form action="{% url 'signout' %}" method="post">
                    {% csrf_token %}
                    {{user}} You loged in successfully


                    <div class="pull-right">
                        <button type="Submit" class="btn btn-success float-right">Sign out</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
{% endblock %}