{% extends 'project1/base.html' %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <h1>Thank you for signing up!</h1>
            </div>
        </div>

    </div>

{% endblock %}