<!doctype html>
<html>
    <body>
            {% for item in todos %}
            {% if item.list_priority == 'high' %}
            <p style="color:red">{{item}}</p>
            {% elif item.list_priority == 'medium' %}
            <p style='color:black'>{{item}}</p>
            {% else %}
            <p style="color:blue">{{item}}</p>
            {% endif %}
            {% endfor %}
            <a href="{% url 'edit' %}">ADD</a>

    </body>
</html>