{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>BookBus</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="BookBus">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
	
	<!-- css files -->
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'css/style_login.css' %}" rel="stylesheet" type="text/css" media="all"/>
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
{% if username == '' %}
<body>

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Book Bus</h1>
					<p>Book Bus is developed with the idea of integrating the various components involved in bus ticket booking. It aims to bring together travelers, transporters and various travel agents.</p>
					<img src="{% static 'images/bus_logo.jpg' %}" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Login To Your Account</h2>
				<p>Enter your details to login.</p>
				<form action="http://127.0.0.1:8000/bus/login/" method="post">{% csrf_token %}
					<label>Email Address</label>
					<div class="input-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<input type="email" placeholder="Enter Your Email" name = 'username' required="">
					</div>
					<label>Password</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="Password" placeholder="Enter Password" name = 'password' required="">
					</div>
						<button class="btn btn-danger btn-block" type="submit">Login</button >                
				</form>
				<p class="account1">Don't have an account? <a href="http://127.0.0.1:8000/bus/form-register/">Register here</a></p>
                <p class="account1">Don't remember your password? <a href="http://127.0.0.1:8000/bus/form-forgot-password/">Forgot Password</a></p>
			</div>
		</div>
		<!-- //main content -->
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy; All Rights Reserved | Design by <a href="http://127.0.0.1:8000/bus/form-search-bus/" target="blank">BookBus</a></p>
	</div>
	<!-- footer -->
</div>
	
</body>
{% elif username == 'registered' %}
<body>

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Book Bus</h1>
					<p>Book Bus is developed with the idea of integrating the various components involved in bus ticket booking. It aims to bring together travelers, transporters and various travel agents.</p>
					<img src="{% static 'images/bus_logo.jpg' %}" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Successfully Registered</h2>
				<p>Log in with your credentials.</p>
                <a href="http://127.0.0.1:8000/bus/login/"><button class="btn btn-danger btn-block" type="submit">Go To Login Page</button></a>
			</div>

		</div>
		<!-- //main content -->
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy;  All Rights Reserved | Design by <a href="http://127.0.0.1:8000/bus/form-search-bus/" target="blank">BookBus</a></p>
	</div>
	<!-- footer -->
</div>

</body>
{% else %}
    <body>
<h1>Buses</h1>

<table border="1">
<thead>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Source</th>
    <th>Destination</th>
    <th>No.of Seats</th>
    <th>Time</th>
    <th>Update</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for b in bus %}
    <tr>
    <td>{{ b.bus_id }}</td>
    <td>{{ b.name }}</td>
    <td>{{ b.source }}</td>
    <td>{{ b.destination }}</td>
    <td>{{ b.no_of_seats }}</td>
    <td>{{ b.time }}</td>
    <td><a href="http://127.0.0.1:8000/bus/form-update-bus/{{ b.bus_id }}">Update</a></td>
    <td><a href="http://127.0.0.1:8000/bus/delete-bus/{{ b.bus_id }}">Delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="http://127.0.0.1:8000/bus/form-add-bus/">New</a>
</body>
{% endif %}
</html>