{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>BookBus</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="BookBus">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
	
	<!-- css files -->
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'css/style_login.css' %}" rel="stylesheet" type="text/css" media="all"/>
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Book Bus</h1>
					<p>Book Bus is developed with the idea of integrating the various components involved in bus ticket booking. It aims to bring together travelers, transporters and various travel agents.</p>
					<img src="{% static 'images/bus_logo.jpg' %}" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Create Your Account</h2>
				<p>Enter your details to register.</p>
				<form action="http://127.0.0.1:8000/bus/register/" method="post">{% csrf_token %}
					<label>Email Address</label>
					<div class="input-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<input type="email" placeholder="Enter Your Email" name = 'email_id' required="">
					</div>
                    <label>Date of Birth</label>
					<div class="input-group">
						<span class="fa fa-birthday-cake" aria-hidden="true"></span>
						<input type="date" placeholder="Enter Your Date of Birth" name = 'dob' required="">
					</div>
                    <label>Address</label>
					<div class="input-group">
						<span class="fa fa-map-signs" aria-hidden="true"></span>
						<input type="text" placeholder="Enter Your Address" name = 'address' required="">
					</div>
                    <label>Pincode</label>
					<div class="input-group">
						<span class="fa fa-map-marker" aria-hidden="true"></span>
						<input type="text" placeholder="Enter Your Pincode" name = 'pincode' required="">
					</div>
                    <label>Mobile Number</label>
					<div class="input-group">
						<span class="fa fa-phone" aria-hidden="true"></span>
						<input type="text" placeholder="Enter Your Mobile Number" name = 'mob_no' required="">
					</div>
					<label>Password</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="Password" placeholder="Enter Password" name = 'password' required="">
					</div>
						<button class="btn btn-danger btn-block" type="submit">Register</button >
				</form>
			</div>
		</div>
		<!-- //main content -->
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy; All Rights Reserved | Design by <a href="http://127.0.0.1:8000/bus/form-search-bus/" target="blank">BookBus</a></p>
	</div>
	<!-- footer -->
</div>
	
</body>
</html>