<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful</title>
</head>
<body>
<h1>Successful</h1>
<h1>Welcome {{ username }} with {{ password }}</h1>
</body>
</html>