{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="BookBus">
    <title>Title</title>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/style_login.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- //css files -->
	<link rel="stylesheet" href="{% static 'css/style_bus_form.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script type="text/javascript">
        function setPage() {
            var seat_display = document.getElementById("seat-display");
            seat_display.innerText = "";
            var seat = "{{ seats }}";
            seat = seat.split(" ");
            for(var i=0; i < seat.length - 1; i++){
                seat_display.innerHTML += seat[i];
                if( i < seat.length-2){
                     seat_display.innerHTML += ", ";
                }
            }
        }
    </script>
</head>
<body onload="setPage()">
    <div class="signupform container">
        <div>
            <h1>Transaction</h1>
        </div>
        <br>
        <div>
            <h4>Seats Selected:</h4>
            <p id="seat-display" style="margin: 10px 0;font-size: 20px"></p>
        </div>
        <br>
        <div>
            <form name = "form" action = "http://127.0.0.1:8000/bus/transaction/{{ bus_id }}" method = "post" >{% csrf_token %}
                <input type = "text" style = "margin-left:20%;display: none" placeholder = "{{ seats }}" name = "seat_data" value="{{ seats }}" readonly/>
                <h4 style="font-size: 20px;" >Total charge: <p style="font-size: 20px">{{ amt }}</p></h4>

                <div style = "max-width:470px;" class="input-group">
                    <input type = "text" placeholder = "Amount" name = "amount"/>
                </div>
                <br>
                <div style = "max-width:470px;">
                   <button class="btn btn-success" type = "submit" value = "Transaction" >
                      <strong>Confirm</strong>
                   </button>
                </div>
          </form>
        </div>
    </div>
</body>
</html>