{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>BookBus</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="BookBus">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        function pageLoad(){
            var n_row = document.getElementById("no_of_rows");
            var n_col = document.getElementById("no_of_columns");
            n_col.setAttribute("onfocusout","setTable()");
            n_row.setAttribute("onfocusout","setTable()");

        }

        function setTable(){
            var n_row = parseInt(document.getElementById("no_of_rows").value,10);
            var n_col = parseInt(document.getElementById("no_of_columns").value,10);
            var table = document.getElementById("seat_table");
            var prev = table.previousSibling;
            if(prev.tagName === "LABEL"){
                prev.remove();
            }
            var next = table.nextElementSibling;
            if(next.tagName === "BR"){
                next.remove();
            }
            var first = table.firstElementChild;
            while(first){
                first.remove();
                first = table.firstElementChild;
            }
            if(n_row > 0 && n_col > 0){
                createTable(n_row, n_col);
            }
        }

        function createTable(n_row, n_col){
            var table = document.getElementById("seat_table");
            var label = document.createElement("label");
            label.innerHTML = "Select Seats";
            table.parentNode.insertBefore(label, table);

            padding = "7px";
            border = "1px solid black";
            table.style.border = border;
            table.style.padding = padding;
            table.style.borderCollapse = "collapse";

            var header = table.createTHead();
            var row = header.insertRow(0);
            var cell = row.insertCell(0);
            cell.innerHTML = "";
            cell.style.border = border;
            cell.style.padding = padding;
            for(var j = 1; j<n_col+1; j++){
                    var cell = row.insertCell(j);
                    cell.innerHTML = "C-"+j;
                    cell.style.border = border;
                    cell.style.padding = padding;
            }

            for(var i = 1; i<n_row+1; i++){
                var row = table.insertRow(i);
                var cell = row.insertCell(0);
                cell.innerHTML = "R-"+i;
                cell.style.border = border;
                cell.style.padding = padding;
                for(var j = 1; j<n_col+1; j++){
                    var cell = row.insertCell(j);
                    cell.style.backgroundColor = "red";
                    cell.style.border = border;
                    cell.style.padding = padding;
                    cell.setAttribute("name",i+"-"+j);
                    cell.setAttribute("value","F");
                    cell.onclick = function () {
                        seat_cell(this)
                    }
                }
            }

            var br = document.createElement("br");
            table.parentNode.insertBefore(br, table.nextSibling);
        }
        function seat_cell(cell) {
            var text_box = document.getElementById("seat_data");
            var cell_name = cell.getAttribute("name");
            padding = "7px";
            border = "1px solid black";
            if(cell.getAttribute("value") === "F"){
                cell.setAttribute("style","background-color:green;");
                cell.setAttribute("value","T");
                cell.style.padding = padding;
                cell.style.border = border;
                text_box.value = text_box.value + cell_name + " ";
            }
            else if(cell.getAttribute("value") === "T"){
                cell.setAttribute("style","background-color:red;");
                cell.setAttribute("value","F");
                cell.style.padding = padding;
                cell.style.border = border;
                seat_value = text_box.value.split(" ");
                seat_value = seat_value.filter(function (value) {
                    return value !== cell_name;
                });
                text_box.value = seat_value.join(" ");
            }
        }
    </script>
    <!-- //Meta-Tags -->
	
	<!-- css files -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
        <link href="{% static 'css/style_login.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- //css files -->
	<link rel="stylesheet" href="{% static 'css/style_bus_form.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
{% if username == '' %}
<body>

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Book Bus</h1>
					<p>Book Bus is developed with the idea of integrating the various components involved in bus ticket booking. It aims to bring together travelers, transporters and various travel agents.</p>
					<img src="{% static 'images/bus_logo.jpg' %}" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Login To Your Account</h2>
				<p>Enter your details to login.</p>
				<form action="http://127.0.0.1:8000/bus/login/" method="post">{% csrf_token %}
					<label>Email Address</label>
					<div class="input-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<input type="email" placeholder="Enter Your Email" name = 'username' required="">
					</div>
					<label>Password</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="Password" placeholder="Enter Password" name = 'password' required="">
					</div>
						<button class="btn btn-danger btn-block" type="submit">Login</button >
				</form>
				<p class="account1">Don't have an account? <a href="http://127.0.0.1:8000/bus/form-register/">Register here</a></p>
                <p class="account1">Don't remember your password? <a href="http://127.0.0.1:8000/bus/form-forgot-password/">Forgot Password</a></p>
			</div>
		</div>
		<!-- //main content -->
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy;All Rights Reserved | Design by <a href="http://127.0.0.1:8000/bus/form-search-bus/" target="blank">BookBus</a></p>
	</div>
	<!-- footer -->
</div>

</body>
{% else %}
<body onload="pageLoad()">

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Book Bus</h1>
					<p>Book Bus is developed with the idea of integrating the various components involved in bus ticket booking. It aims to bring together travelers, transporters and various travel agents.</p>
					<img src="{% static 'images/bus_logo.jpg' %}" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Update Bus Info</h2>
				<p>Update bus info details.</p>
				<form action="http://127.0.0.1:8000/bus/update-bus/" method="post">{% csrf_token %}
					<label>Bus ID</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="text" value="{{ bus.bus_id }}" name = 'bus_id' readonly>
					</div>
                    <label>Name</label>
					<div class="input-group">
						<span class="fa fa-birthday-cake" aria-hidden="true"></span>
						<input type="text" value="{{ bus.name }}" name = 'name' required="">
					</div>
                    <label>Source</label>
					<div class="input-group">
						<span class="fa fa-map-signs" aria-hidden="true"></span>
						<input type="text" value="{{ bus.source }}" name = 'source' required="">
					</div>
                    <label>Destination</label>
					<div class="input-group">
						<span class="fa fa-map-marker" aria-hidden="true"></span>
						<input type="text" value="{{ bus.destination }}" name = 'destination' required="">
					</div>
                    <label>No.of Seats</label>
					<div class="input-group">
						<span class="fa fa-phone" aria-hidden="true"></span>
						<input type="text" value="{{ bus.no_of_seats }}" name = 'no_of_seats' required="">
					</div>
                    {% if bus.availability == "N" %}
                        <label>No.of Rows</label>
                        <div class="input-group">
                            <span class="fa fa-phone" aria-hidden="true"></span>
                            <input type="number" min="0" placeholder="Enter No.of Rows" name = 'no_of_rows' id="no_of_rows" value="0" required="">
                        </div>
                        <label>No.of Columns</label>
                        <div class="input-group">
                            <span class="fa fa-phone" aria-hidden="true"></span>
                            <input type="number" min="0" placeholder="Enter No.of Columns" name = 'no_of_columns' id="no_of_columns" value="0" required="">
                        </div>

                        <table id="seat_table"></table>
                        <div class="" style = "max-width:470px;display: none" id="seat_div">
                            <input id="seat_data" type = "text" style = "margin-left:20%;" placeholder = "" name = "seat_data" readonly/>
                        </div>
                    {% endif %}
					<label>Time</label>
					<div class="input-group">
						<span class="fa fa-clock-o" aria-hidden="true"></span>
						<input type="time" value="{{ bus.time }}" name = 'time' required="">
					</div>
                    <label>Description</label>
					<div class="input-group">
						<span class="fa fa-clock-o" aria-hidden="true"></span>
						<input type="text" value="{{ bus.description }}" name = 'description' required="">
					</div>
						<button class="btn btn-danger btn-block" type="submit">Update</button >
				</form>
			</div>
		</div>
		<!-- //main content -->
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy;  All Rights Reserved | Design by <a href="http://127.0.0.1:8000/bus/form-search-bus/" target="blank">BookBus</a></p>
	</div>
	<!-- footer -->
</div>
	
</body>
{% endif %}
</html>