<!DOCTYPE html>
<html>
<head>
    <title>Add Stock</title>
</head>
<body>
    <h1>Add Stock</h1>
    <form method="post">
        {% csrf_token %}
        <select name="tea">
            {% for tea in teas %}
            <option value="{{ tea.name }}">{{ tea.name }}</option>
            {% endfor %}
        </select>
        <input type="number" name="quantity" placeholder="Quantity">
        <button type="submit">Add</button>
    </form>
</body>
</html>
