<!DOCTYPE html>
<html>
<body>
    <h1>Black Tea (₹{{ tea.price }})</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Buy</button>
    </form>
</body>
</html>
