<!DOCTYPE html>
<html>
<body>
    <h1>Ramu Kaka Chai Bandi</h1>
    <form method="post" action="{% url 'regular_tea' %}">
        {% csrf_token %}
        <button type="submit">Regular Tea (₹15)</button>
    </form>
    <form method="post" action="{% url 'black_tea' %}">
        {% csrf_token %}
        <button type="submit">Black Tea (₹10)</button>
    </form>
    <br>

    <h2>Stock:</h2>
    <ul>
    {% for tea in teas %}
        {% if tea.name == 'Milk' or tea.name == 'Tea Powder' %}
            <li>{{ tea.name }}: {{ tea.stock }}</li>
        {% endif %}
    {% endfor %}
    </ul>
    <form method="get" action="{% url 'add_stock' %}">
        <button type="submit">Add Stock</button>
    </form>
    <form method="get" action="{% url 'todays_earning' %}">
        <button type="submit">Today's Earnings</button>
    </form>
</body>
</html>
